@import 'abstract';

:host {
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 100vh;
  color: $purple-dark;
}

h2 {
  text-align: center;
  margin: 0;
  font-size:22px;
  @include lg(){
  font-size: 42px;
}
  span {
    font-weight: bold;
    text-transform: uppercase;
  }
}

h3{
  text-align: center;
  margin-bottom: 0;
  font-size:22px;
  @include lg() {
    font-size: 36px;
  }
  span {
    font-weight: bold;
    text-transform: uppercase;
  }
}

p{
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
  @include lg() {
    font-size: 24px;
  }
  span {
    font-weight: bold;
    font-size: 32px;
  }
}

sub {
  text-align: center;
}

.button {
  margin-top: 20px;
  border: solid 1px $purple-dark;
  padding: 10px 30px;
  background: $purple;
  color: $white;
  font-size: 20px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: $purple-dark;
  }
}

.container-sub {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
  }
}

.wrapper {
  width:100%;
  @include lg() {
    width: 750px;
  }
}

.wrapper-iframe {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width:100%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
