<div class="container">
  <h2>Hey <span>Ola</span>!!! 30stka 🤭<br>Wszystkiego najlepszego 🎂 🎁 🎊 🎉</h2>
  <p>Przygotowaliśmy Ci krótki filmik aby Ci przypomnieć co to za niesamowita jazda była </p>
  <div class="sub">
    <h3>Hey <span>Aleks</span>!!!<br>Happy 30th 🤭 birthday 🎂 🎁 🎊 🎉</h3>
    <p>We prepared you a short video to remind you what an impresive time you have had until now</p>
  </div>
  <div class="wrapper">
    <div class="wrapper-iframe">
      <iframe src="https://www.youtube.com/embed/DSaAMv0azs8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="container-sub">
    <p>Mamy jeszcze jedna niespodzianka dla Ciebie</p>
    <p class="sub">We do have one more surprise for you</p>
    <button class="button" (click)="goToVideos()">Next</button>
  </div>
</div>
