<!--<nav>-->
<!--  <ul>-->
<!--    <li><a routerLink="/slideshow" routerLinkActive="active">Slideshow</a></li>-->
<!--    <li><a routerLink="/videos" routerLinkActive="active">Videos</a></li>-->
<!--  </ul>-->
<!--</nav>-->
<router-outlet></router-outlet>
