@import 'abstract';

:host {
  display: flex;
}

.form-control {
  background: transparent;
  border:0;
  font-size: 48px;
  text-align: center;
  color: $purple-dark;
  @include lg() {
    font-size: 72px;
  }
  &:focus{
    border:0;
    outline: 0;
    box-shadow: none;
  }
  &.form-control__day,
  &.form-control__month {
    width: 85px;
    @include lg() {
      width: 120px;
    }
  }
  &.form-control__year {
    width:110px;
    @include lg() {
      width: 160px;
    }
  }
}

.date-divider {
  color: $purple-dark;
  font-size: 46px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-date {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.form-errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size:22px;
    text-align: center;
  }
}

.button {
  border: solid 1px $purple-dark;
  padding: 15px 30px;
  background: $purple;
  color: $white;
  font-size: 20px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: $purple-dark;
  }
}
//@include breakpoint('')
