<div class="input-date">
  <form [formGroup]="inputDateForm">
    <input class="form-control form-control__day" [type]="'number'" placeholder="dd" formControlName="day">
    <span class="date-divider">/</span>
    <input class="form-control form-control__month" [type]="'number'" placeholder="mm" formControlName="month" (keydown)="keyDownHandler($event, 'month')">
    <span class="date-divider">/</span>
    <input class="form-control form-control__year" [type]="'number'" placeholder="yyyy" formControlName="year" (keydown)="keyDownHandler($event, 'year')">
  </form>
  <div class="form-errors" *ngIf="formError">
    <p [innerHTML]="formError"></p>
    <button class="button" (click)="resetForm()">Clear date</button>
  </div>
</div>
