@import 'abstract';
:host {
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color:$purple-dark;
  margin: 0 20px 40px 20px;
  text-align: center;
}
