@import './src/assets/scss/breakpoint';
@import './src/assets/scss/_variables.scss';

/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(195,137,221,1) 49%, rgba(147,45,194,1) 100%);
}

app-root {
  display: block;
  height: 100%;
  min-height: 100vh;
}

.container {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
