@import 'abstract';
@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: $purple-dark;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 $purple-dark,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 $purple-dark,
      .5em 0 0 $purple-dark;}}

.wrapper-iframes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  width: 100%;
}

.wrapper-iframe {
  width: 90%;
  margin: 0 5px 10px 5px;
  @include sm() {
    width: calc(100%/2 - 10px);
  }
  @include md() {
    width: calc(100%/4 - 10px);
  }
  @include lg() {
    width: calc(100%/5 - 10px);
  }

  div {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: 100%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hidden {
  display: none;
}

.wrapper-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:$purple-dark;
  min-height: 100vh;
  justify-content: center;
  font-size: 22px;
  text-align: center;
  img {
    @include box-shadow(0px,5px,30px, rgba($purple-dark, 0.75));
    margin-bottom: 20px;
  }

  span{
    &.loading {
      &:after {
        content: ' .';
        font-size: 32px;
        animation: dots 1s steps(5, end) infinite;
      }
    }
    &.small{
      font-size:14px;
    }
  }
}

