<div class="container">
  <div class="wrapper-loading" *ngIf="loading">
    <img src="../../../assets/images/ola-loading.gif" height="320" width="176"/>
    <span class="loading">Loading</span>
    Something special is coming your way!!!
    <span class="small">(It may take 1-2 minutes to load everything)</span>
  </div>
  <div class="wrapper-iframes" [ngClass]="loading ? 'hidden' : ''">
    <div class="wrapper-iframe" *ngFor="let video of videos">
      <div>
        <iframe [src]="'https://www.youtube.com/embed/'+video.id | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen (load)="isLoaded()"></iframe>
      </div>
    </div>
  </div>
</div>
